.city-header {
    display: flex;
    justify-content: flex-start;
}

.city-header-item {
    padding: 0 2vh;
}

.city-loading {
    border: 5px solid #2d6374; 
    border-top: 5px solid #d7d8da; 
    border-radius: 50%;
    width: 1vh;
    height: 1vh;
    animation: spin 2s linear infinite;
}

.no-result-info-item {
    color: #596163;
    padding-left: 1%;
}