.bg-background-dark {
    background-color: #272b33;
    color: #c4cfe0;
}

.result-info {
    display: flex;
    font-family: Arial;
    padding: .5vh;
    margin: 1px 0;
}

.result-info-item {
    width: 100%;
    display: flex;
}

.result-info-date {
    color: #596163;
}

.result-info-time {
    color: #596163;
    padding-left: 1%;
}

.result-info-city {
    display: flex;
    width: 20vw;
    color: #596163;
}

.result-info-territory {
    display: flex;
    width: 20vw;
    color: #596163;
}

.result-info-link a{
    color: #4284a6;
    padding-left: 1%;
    outline: none;
    
}

.result-info-link a:visited {
    color: #37545f
}

